# Entornos virtuales
01-SauceDemo-E2E-Project/automation/venv/
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Reportes locales
01-SauceDemo-E2E-Project/automation/reports/
01-SauceDemo-E2E-Project/automation/test-results/

# Sistema
.DS_Store
